<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title> {{title}}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/headers/header-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footers/footer-v1.css') }}">     

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/line-icons/line-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/scrollbar/css/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-clockpicker/bootstrap-clockpicker.css')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='simditor/styles/simditor.css')}}"></script>
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
<style>

.INclass a {
    font-weight:bold;
    color:white;
    background-color: green !important;
    border:1px solid green;    
    height:28px;
    width:28px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.OUTclass a {
    font-weight:bold;
    color:red;
}

.BOTHclass a {
    font-weight:bold;
    color:blue;
}

</style>

</head>	

<body>


<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="{{ url_for('static', filename='img/logos/logo2.png') }}" alt="Logo" style="margin-bottom:-20px;margin-left:75px;">
            </a>
            <!-- End Logo -->        
            <!-- Topbar -->
                {% include 'loginbar.html' %}
            <!-- End Topbar -->      
            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->                  
        </div><!--/end container-->

        <!--=== Beg NavBar ===-->
            {% include 'admin/navbar.html' %}
        <!--=== End NavBar ===-->
        
    </div>
    <!--=== End Header ===-->

    <!--=== Profile ===-->
    <div class="profile container content">
    	<div class="row">
                <div id="menu_bar">
                    {% include 'writing/leftmenu.html' %}
        	</div>
            <div class="col-md-9">
                <!--Profile Body-->
                <div class="profile-body">
                    <!--Service Block v3-->
                    <div class="row margin-bottom-10">
                        <form action="" id="sky-form2" class="sky-form" method="post">
                        
                        <div class="col-sm-6 sm-margin-bottom-20">
                            <!--Datepicker-->
                                <div id="inline-start" >
                                    <input type="text" name="datef" id="datef" value="{{datevar}}" required/>
                                    <input type="number" name="writingid" id="writingid" style="width:40px;" placeholder="WID" disabled>
                                </div>
                            <!--End Datepicker-->
                        </div>
                        
                        <div class="col-sm-6">              
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input">
                                                    <input type="text" id="tier" name="tier" placeholder="Tier" value="" required autocomplete="on">
                                                </label>                            
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <input type="text" id="order" name="order" placeholder="Order" value="" required autocomplete="on">
                                                </label>                            
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <input type="text" id="parent" name="parent" placeholder="Parent" value="" required autocomplete="on">
                                                </label>                            
                                            </section>                                            
                                        </div>
                                        
                                        <div class="row">
                                            <section class="col">
                                                <label class="input">
                                                    <input type="text" id="title" name="title" placeholder="Title" autocomplete="off" style="width:420px;">
                                                </label>   
                                            </section>
                                         </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="input">
                                                    <input type="text" id="category" name="category" placeholder="Topic" value="">
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="input">
                                                    <input type="text" id="searchtags" name="searchtags" placeholder="SearchTags" value="">
                                                </label>
                                            </section>
                                         </div>

                                        <div class="row panel-heading overflow-h">
                                            <section class="col col-6">
                            
                            <a id="new_item" href="javascript:void(0)" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" style="color:#555;">New
                            <i class="glyphicon glyphicon-fire" style="font-size:16px;margin-left:5px;"></i></a> 

    <a id="check_item" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" style="color:#555; margin-right:10px;">Edit
                            <i class="glyphicon glyphicon-pencil" style="font-size:16px;margin-left:5px;"></i></a>                            
                                            </section>
                                            <section class="col col-6">
                            <a id="add_item" href="javascript:void(0)" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" style="color:#555;">Add
                            <i class="glyphicon glyphicon-plus" style="font-size:16px;margin-left:5px;"></i></a> &nbsp;
                            
    <a id="del_item" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" style="color:#555; margin-right:10px;">Del
                            <i class="glyphicon glyphicon-remove" style="font-size:16px;margin-left:5px;"></i></a>
                                            </section>
                                         </div>  
                        
                        </div>
                       </form>
                    </div><!--/end row-->
                    <!--End Service Block v3-->

                    <div class="row margin-bottom-10" id="text_input" style="display:none; visibility: hidden; padding-left: 31px;">
                        <div class="col col-12"> 
                            <!--Input TextArea-->
                                <div class="row">
                                    <section class="col col-12">
                                        <label class="textarea">
                                            <textarea name="content" id="content" autofocus></textarea>
                                        </label>                    
                                    </section>
                                </div>
                        </div>
                    </div>
                    
                    <div class="row margin-bottom-10" id="text_display" style="padding-left: 35px; font-size: 14px;">
                        <div class="col col-12"> 
                            <!--Input TextArea-->
                            <p>
                                <div name="multiline" id="multiline"> Sample Text Here.</div>
                            </p>
                        </div>
                    </div>                       

                    <div class="row margin-bottom-10">
                        <div class="col col-12"> 
                            <!--Input TextArea-->
                            <div id="sched_table">
                                {% include 'writing/writingtableupdate.html' %}
                            </div>
                        </div>
                    </div>                    


<hr style="margin:0px; margin-bottom: 20px;">
                <div class="wrapper">
                    <div class="panel-heading overflow-h" style="color:#555;">
                        <h2 class="panel-title heading-sm pull-left" style="color:#555;"><i class="fa fa-tasks"></i>ListView</h2>
                        <a id="reset" href="javascript:void(0)" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" style="margin-left:20px;">View All</a>
                        <form class="sky-form">
                        <label class="select pull-right">
                            <select id="trans_method" name="trans_method" style="width:130px;">
                                <option value="None" selected disabled style="display:none">Emp View</option>
                                <option value="confirmed">Table1</option>
                                <option value="confirmed">Table2</option>
                                <option value="cancelled">Table3</option>
                                <option value="noshow">Table4</option>
                            </select>
                            <i></i>
                        </label>
                        </form>                        
                        
                    </div>

                    <!--Table Search v1-->
                    <div class="table-search-v1">
                    
                        <div class="table-responsive">
                         <div class="tab-v1">
                            <ul class="nav nav-justified nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#profile">Lastest Articles</a></li>
                                <li><a data-toggle="tab" href="#payment">Add Tab</a></li>
                            </ul>
                   		</div>
                   	    <div class="tab-content">
                                <div id="profile" class="profile-edit tab-pane fade in active">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="white-space:nowrap;" width="20%">Topic</th>
                                                <th width="50%">Title</th>
                                                <th width="15%">Timestamp</th>
                                                <th width="15%">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="changebody">
                                            {% include 'writing/writingdatelist.html' %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                    <!--End Table Search v1-->
                        
                     <hr style="margin:0px; margin-bottom: 20px;">


                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->
    <div class="footer-v1">
        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2014 &copy; Unify. ALL Rights Reserved. 
                            <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="javascript:void(0)">Privacy Policy</a> | <a href="javascript:void(0)">Terms of Service</a>
                        </p>
                    </div>
                    <div class="col-md-6">  
                        <a href="index.html">
                            <img class="pull-right" id="logo-footer" src="{{ url_for('static', filename='img/logo2-default.png')}} " alt="">
                        </a>
                    </div>
                </div>
            </div> 
        </div><!--/copyright--> 
        <!--=== End Copyright ===-->
    </div>
</div><!--/wrapper-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js')}}"></script> 
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/back-to-top.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/smoothScroll.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js')}}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/datepicker.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap-clockpicker/bootstrap-clockpicker.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='simditor/site/assets/scripts/module.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/site/assets/scripts/hotkeys.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/site/assets/scripts/uploader.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/site/assets/scripts/simditor.js')}}"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
    });
</script>
        
<script type="text/javascript">

Simditor.locale = 'en-US';

var editor = new Simditor({
  textarea: $('#content')
});

var eventDates = getdates('{{ref}}');

$('#inline-start').datepicker({
    onSelect: function(dateText, inst)
    {
      var dateAsString = dateText; //the first parameter of this function
      var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method

      document.getElementById("datef").value = dateAsString.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");

      $.ajax({
          url: "/writingdatelist/",
          type: "get",
          data: {jsdata: dateText},
          success: function(response) {
            $("#changebody").html(response);}
          })
      $.ajax({
          url: "/writingtableupdate/",
          type: "get",
          data: {dateg: dateText},
          success: function(response) {
            $("#sched_table").html(response);}
          })
      $.ajax({
          url: "/date_test_writing/",
          type: "get",
          dataType: "json",
          data: {jsdata: dateText},
          success: function(response)
          {
            var dataObject = response;
            eventDates = {};
            for (i=0; i < dataObject.length; i++)
            {
                dataObject[i] = formatDate(dataObject[i]).toString();
                eventDates[new Date(dataObject[i])] = new Date(dataObject[i]).toString();
            }
            $("#inline-start").datepicker("setDate", dateText);
          }
        })         
    },
    beforeShowDay: function(date) {
        var highlight = eventDates[date];
        if (highlight)
            { return [true, "INclass", highlight];
             }
        else {return [true, '', ''];}
    }
});

function getdates(ref) {
    eventDates = new Object();
    $.ajax({
      url: "/date_test_writing/",
      type: "get",
      dataType: "json",
      success: function(response)
      {
        var dataObject = response;
        for (i=0; i < dataObject.length; i++)
        {
            dataObject[i] = formatDate(dataObject[i]).toString();
            eventDates[new Date(dataObject[i])] = new Date(dataObject[i]).toString();
        }
        if (ref) {
            var new_date = ref.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
            $("#inline-start").datepicker("setDate", new_date);
            }
        else {
            $("#inline-start").datepicker("setDate", new Date());
            }
      }
    })
    document.getElementById("datef").value = ref.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");
    return eventDates;
}

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [month, day, year].join('/');
}

$(document).ready(function() {
    $("#add_item").click(function() {
         if ((document.getElementById("title").value != "") && (document.getElementById("datef").value != ""))
            {
                $.ajax({
                  url: "/writing_add/",
                  type: "get",
                  data: {writingid: document.getElementById("writingid").value,
                         tier: document.getElementById("tier").value,
                         order: document.getElementById("order").value,
                         parent: document.getElementById("parent").value,
                         title: document.getElementById("title").value,
                         category: document.getElementById("category").value,
                         searchtags: document.getElementById("searchtags").value,
                         content: document.getElementById("content").value,
                         datef: document.getElementById("datef").value,
                         },
                  success: function(response) {
                    $("#sched_table").html(response);}
                  })
                
                var new_date = document.getElementById("datef").value.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
                $.ajax({
                      url: "/writingdatelist/",
                      type: "get",
                      data: {jsdata: new_date},
                      success: function(response) {
                        $("#changebody").html(response);}
                      })
                $.ajax({
                      url: "/writingmenuupdate/",
                      type: "get",
                      success: function(response) {
                        $("#menu_bar").html(response);}
                      })
                document.getElementById("title").value="";
                document.getElementById("category").value="";
                document.getElementById("searchtags").value="";
                document.getElementById("content").innerHTML ='';
                document.getElementById("content").value ='';
                document.getElementById("multiline").innerHTML ='';
                document.getElementById("tier").value="";
                document.getElementById("order").value="";
                document.getElementById("parent").value="";
            }
         else {alert('Please Fill in Fields');}
    });

    $("#check_item").click(function() {
         document.getElementById("multiline").innerHTML = editor.getValue();
         if ((document.getElementById("text_input").style.display == 'none'))
            {   
                document.getElementById("text_input").style.display='block';
                document.getElementById("text_input").style.visibility='visible';
                document.getElementById("content").dispatchEvent(new Event("input"));
                document.getElementById("text_display").style.display='none';
                document.getElementById("text_display").style.visibility='hidden';
            }
         else {
                document.getElementById("text_input").style.display='none';
                document.getElementById("text_input").style.visibility='hidden';
                document.getElementById("text_display").style.display='block';
                document.getElementById("text_display").style.visibility='visible';

             }
    });    

    $("#del_item").click(function() {
         if ((document.getElementById("writingid").value != ""))
            {
                if (confirm("Confirm Delete?")){
                    var new_date = document.getElementById("datef").value.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
                    $.ajax({
                      url: "/writing_del/",
                      type: "get",
                      data: {writingid: document.getElementById("writingid").value,
                             datef: document.getElementById("datef").value
                             },
                      success: function(response) {
                        $("#sched_table").html(response);}
                      })
                    $.ajax({
                      url: "/writingdatelist/",
                      type: "get",
                      data: {jsdata: new_date},
                      success: function(response) {
                        $("#changebody").html(response);}
                      })
                    $.ajax({
                      url: "/writingmenuupdate/",
                      type: "get",
                      success: function(response) {
                        $("#menu_bar").html(response);}
                      })
                    document.getElementById("writingid").value="";
                    document.getElementById("title").value="";
                    document.getElementById("category").value="";
                    document.getElementById("searchtags").value="";
                    document.getElementById("content").innerHTML ='';
                    document.getElementById("content").value ='';
                    document.getElementById("multiline").innerHTML ='';
                    document.getElementById("tier").value="";
                    document.getElementById("order").value="";
                    document.getElementById("parent").value="";
                }
            }
         else {alert('No Item to Delete');}
    });

    $("#new_item").click(function() {
        document.getElementById("writingid").value="";
        document.getElementById("tier").value="";
        document.getElementById("order").value="";
        document.getElementById("parent").value="";
        document.getElementById("title").value="";
        document.getElementById("category").value="";
        document.getElementById("searchtags").value="";
        document.getElementById("content").innerHTML ='';
        document.getElementById("content").value ='';
        document.getElementById("multiline").innerHTML ='';        
        
    });   
    
    $("#reset").click(function() {
        $.ajax({
          url: "/writingdatelist/",
          type: "get",
          success: function(response) {
            $("#changebody").html(response);}
          })
    });    
});

function single_view(category, date){
      $.ajax({
          url: "/writingdatelist/",
          type: "get",
          data: {jsdata: date,
                 category: category},
          success: function(response) {
            $("#changebody").html(response);}
          })
      $.ajax({
          url: "/writingtableupdate/",
          type: "get",
          data: {dateg: date,
                 category: category},
          success: function(response) {
            $("#sched_table").html(response);}
          })
      $.ajax({
          url: "/date_test_writing/",
          type: "get",
          dataType: "json",
          data: {jsdata: date,
                 category:category},
          success: function(response)
          {
            var dataObject = response;
            eventDates = {};
            for (i=0; i < dataObject.length; i++)
            {
                dataObject[i] = formatDate(dataObject[i]).toString();
                eventDates[new Date(dataObject[i])] = new Date(dataObject[i]).toString();
            }
            var new_date = date.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
            $("#inline-start").datepicker("setDate", new_date);
          }
        })      
}

function day_view(date){
      $.ajax({
          url: "/writingdatelist/",
          type: "get",
          data: {jsdata: date,
                 e_date: date},
          success: function(response) {
            $("#changebody").html(response);}
          })
      $.ajax({
          url: "/date_test_writing/",
          type: "get",
          dataType: "json",
          data: {jsdata: date,
                 e_date: date},
          success: function(response)
          {
            var dataObject = response;
            eventDates = {};
            for (i=0; i < dataObject.length; i++)
            {
                dataObject[i] = formatDate(dataObject[i]).toString();
                eventDates[new Date(dataObject[i])] = new Date(dataObject[i]).toString();
            }
            var new_date = date.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
            $("#inline-start").datepicker("setDate", new_date);
          }
        })      
}

function edit_sched(writingid, tier, order, parent, title, category, searchtags, datef){
    document.getElementById("writingid").value = writingid;
    if (tier != 'None') {document.getElementById("tier").value = tier;}
        else if (tier == 'None') {document.getElementById("tier").value = '';}
    if (order != 'None') {document.getElementById("order").value = order;}
        else if (order == 'None') {document.getElementById("order").value = '';}
    if (parent != 'None') {document.getElementById("parent").value = parent;}
        else if (parent == 'None') {document.getElementById("parent").value = '';}
    if (title != 'None') {document.getElementById("title").value = title;}
        else if (title == 'None') {document.getElementById("title").value = '';}
    if (category != 'None') {document.getElementById("category").value = category;}
        else if (category == 'None') {document.getElementById("category").value = '';}
    if (searchtags != 'None') {document.getElementById("searchtags").value = searchtags;}
        else if (searchtags == 'None') {document.getElementById("searchtags").value = '';}
    document.getElementById("datef").value = datef;
    var new_date = datef.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
    $("#inline-start").datepicker("setDate", new_date);

          $.ajax({
          url: "/wscratch_query/",
          type: "get",
          data: {writingid: writingid},
          success: function(response) {
            editor.setValue(response);
            document.getElementById("multiline").innerHTML = response;
            document.getElementById("content").dispatchEvent(new Event("response"));}
          })    
}

function allowDrop(event) {
    event.preventDefault();
}

function drag (event, writingid, parent) {
    event.dataTransfer.setData("text", event.target.id);
    document.getElementById("writingid").value = writingid;
}

function drop(event, parent, order, orig_id) {
    event.preventDefault();
    var data = event.dataTransfer.getData("text");
      $.ajax({
          url: "/writingtablecommit/",
          type: "get",
          data: {parent: parent,
                 order: order,
                 writingid: document.getElementById("writingid").value,
                 orig: orig_id,
                 },
          success: function(response) {
              if (response != '')
                {$("#menu_bar").html(response);}
                                        }
      })
}

$('.clockpicker').clockpicker();

var tx = document.getElementById('content');
for (var i = 0; i < tx.length; i++) {
  tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;' + 'width:850px');
  tx[i].addEventListener("input", OnInput, false);
}

function OnInput() {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
}
</script> 
 

<!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='plugins/respond.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/html5shiv.js')}}"></script>
<![endif]-->

</body>
</html>	
