{% for t in trans %}
    <tr style="background-color:{{t.color}}">
        <td>
            <a href="javascript:void(0)" onclick="single_view('{{t.category}}','{{t.datef}}')" style="font-family:Meiryo; font-size:14px;">{{t.category}}</a>
        </td>
        <td>
            <span style="font-family:Meiryo; font-size:14px;">
            {% if t.title %}
                <div id='bottom{{t.writingid}}'> blah</div>
        <script type='text/javascript'>
            var otext = '{{t.title}}'
            otext = otext.replace(/&lt;/g, '<');
            otext = otext.replace(/&gt;/g, '>');
            document.getElementById("bottom{{t.writingid}}").innerHTML=otext;
        </script>
            {% endif %}
            </span>                                                    
        </td>
        <td>
            <span style="font-family:Meiryo; font-size:14px;">{{t.timef}}</span>
        </td>
        <td>
           <span style="font-family:Meiryo; font-size:14px;">{{t.datef}}</span>
        </td>
    </tr>                                    
{% endfor %}
<tr><td colspan="6">
<button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
</td></tr>
