<table style="vertical-align:top; margin-left:20px; width:950px; table-layout:fixed;" border="2">
    <tr>
        {% for i in dayviews %}
        <td style="vertical-align:top; width:100%; background-color:{{i.color}}" ondrop="drop(event, '{{i.date_field}}')" ondragover="allowDrop(event)" id="{{i.dayname}}">
            <a href="javascript:void(0)" style="font-family:Meiryo; font-size:14px;" onclick="day_view('{{i.date_field}}')"> {{i.dayname}} </a>
                {% for t in trans %}
                    {% if t.dayvar == i.dayname %}
                        <div style="font-family:Meiryo; font-size:12px;" id='{{t.taskid}}' draggable=true 
                        ondragstart="drag(event, '{{t.writingid}}', '{{t.parent}}' )" 
                        onclick="edit_sched('{{t.writingid}}', '{{t.tier}}', '{{t.order}}', '{{t.parent}}', '{{t.title}}', '{{t.category}}',
                        '{{t.searchtags}}', '{{t.datef}}' )">
                            {{t.timef}}
                                <span id='table{{t.writingid}}'> blah</span>
                                <script type='text/javascript'>
                                    var otext = '{{t.title}}'
                                    otext = otext.replace(/&lt;/g, '<');
                                    otext = otext.replace(/&gt;/g, '>');
                                    document.getElementById("table{{t.writingid}}").innerHTML=otext;
                                </script>
                        </div>
                    {% endif %}
                {% endfor %}
        </td>
        {% endfor %}
    </tr>
</table>
