                    <div class="row margin-bottom-0" style="background:#EAEAEA; padding:5px;">
                        <!--Recent Clicks-->
                        <div class="col-sm-6">
                            <div class="panel panel-profile no-bg">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-list-ul"></i>Top L2</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                <div class="table-responsive">
                            <table class="table table-hover" style="font-family:Meiryo; font-size:14px;">
                                <thead>
                                    <tr>
                                        <td width="5%">Type</th>
                                        <td class="hidden-sm" width="16%">Clicks </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in range(0,5) %}
                                    <tr>
                                        <td> {{L2[t][1]}} </td>
                                        <td> {{L2[t][0]}} </td>
                                    </tr>
                                {% endfor %}
                                    <tr><td colspan="6">
                                    <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
                                    </td></tr>
                                </tbody>
                            </table>
                        </div>   
                            </div>        
                        </div>
                        <!--End Recent Clicks-->

                        <!--Recent Clicks-->
                        <div class="col-sm-6">
                            <div class="panel panel-profile no-bg">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-list-ul"></i>Top L4</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                <div class="table-responsive">
                            <table class="table table-hover" style="font-family:Meiryo; font-size:14px;table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <td style="white-space:nowrap;overflow: hidden; width: 300px;">Type</th>
                                        <td style="white-space:nowrap;overflow: hidden; width:  50px;">Clicks </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in range(0,5) %}
                                    <tr>
                                        <td style="white-space:nowrap;overflow: hidden; width: 300px;"> {{L4[t][1]}} </td>
                                        <td style="white-space:nowrap;overflow: hidden; width:  50px;"> {{L4[t][0]}} </td>
                                    </tr>
                                {% endfor %}
                                    <tr><td colspan="6">
                                    <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
                                    </td></tr>
                                </tbody>
                            </table>
                        </div>   
                            </div>        
                        </div>
                        <!--End Recent Clicks-->
                    </div><!--/end row-->
