<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <!-- Web Fonts
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'> -->    

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/headers/header-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footers/footer-v3.css') }}">     

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/animate.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/line-icons/line-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/image-hover/css/img-hover.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/css/sky-forms.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css')}}">

    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/page_job.css')}}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
</head> 

<body>

<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="index.html">
                <img id="logo-header" src="../static/img/logos/logo2.png" alt="Logo">
            </a>
            <!-- End Logo -->
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>Panels</a>
                        <ul class="languages hoverSelectorBlock">
                            <li class="active">
                                <a href="/">Index</a> 
                            </li>
                            <li><a href="/customer/">Customer</a></li>
                            <li><a href="javascript:void(0)">Vendor <i class="fa fa-check"></i></a></a></li>
                            <li><a href="/metrics/">Admin</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Help</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="page_login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar Navigation -->
            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div>
        <!-- End Topbar -->
        <span>&nbsp;</span>
    
        <!-- Navbar -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Home
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Option 1: Default Page</a></li>
                        </ul>
                    </li>
                    <!-- End Home -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>    
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->      

    <!--=== Job Img ===-->
    <div class="job-img margin-bottom-30">
        <div class="job-banner">
            <h2>OohChaCha Table Reservations</h2>
        </div>   
        <div style="background:#333; padding:15px; position:relative;top:-65px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-tag"></i></span>
                            <input type="text" placeholder="full Name" class="form-control" style="height:39px">
                        </div>
                    </div>    
                    <div class="col-sm-3 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" placeholder="Phone Number" class="form-control" style="height:39px">
                        </div>
                    </div>
                    <div class="col-sm-3 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" placeholder="How Many Persons" class="form-control" style="height:39px">
                        </div>
                    </div>
                    <form action="#" class="sky-form" style="border:none;">
                        <div class="col col-3">
                            <label class="checkbox state-success"><input type="checkbox" name="checkbox">
                            <i></i><span class="btn-u">Human Verification</span></label>
                        </div>
                    </form>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            <input type="text" placeholder="What Date" class="form-control" style="height:39px">
                        </div>
                    </div>    
                    <div class="col-sm-3 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" placeholder="What Time" class="form-control" style="height:39px">
                        </div>
                    </div>                
                    <div class="col-sm-3 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" placeholder="Other Notes" class="form-control" style="height:39px">
                        </div>
                    </div> 
                    <div class="col-sm-3" md-margin-bottom-10">
                        <button type="button" class="btn-u btn-block btn-u-dark"> Book Table</button>
                    </div>
                </div>                
            </div>    
        </div>    
    </div>    
    <!--=== End Job Img ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Begin Service Block -->
        <div class="row margin-bottom-40">
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">CellPhone Verification Only</h2>
                    <p>Your booking will not register until you verify your phone number</p>                        
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-red service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
                    <h2 class="heading-md">Live Confirmation</h2>
                    <p>We will send you a confirmation SMS once our staff has confirmed your booking.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="service-block service-block-blue service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-md">Definitely Not Full</h2>
                    <p>Thank you for your booking!<br><br></p>
                </div>
            </div>
        </div>
        <!-- End Begin Service Block -->
    </div>

    <!--=== Footer Version 3 ===-->
    <div class="footer-v3">
        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2014 &copy; Unify. ALL Rights Reserved. 
                            <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="javascript:void(0)">Privacy Policy</a> | <a href="javascript:void(0)">Terms of Service</a>
                        </p>
                    </div>
                    <div class="col-md-6">  
                        <a href="index.html">
                            <img class="pull-right" id="logo-footer" src="{{ url_for('static', filename='img/logo2-default.png')}} " alt="">
                        </a>
                    </div>
                </div>
            </div> 
        </div><!--/copyright--> 
        <!--=== End Copyright ===-->
    </div>
</div><!--/wrapper-->


<!-- JS Global Compulsory -->           
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js')}}"></script> 
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/smoothScroll.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/back-to-top.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.parallax.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/image-hover/js/modernizr.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/image-hover/js/touch.js')}}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initParallaxBg();        
    });
</script>
<!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='plugins/respond.js')}}"></script>
<![endif]-->



</body>
</html>
