<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Expense Manager</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/headers/header-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footers/footer-v1.css') }}">     

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/line-icons/line-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/scrollbar/css/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}">


    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/profile.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-login.css') }}">
<style>


</style>

</head>	

<body>


<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="{{ url_for('static', filename='img/logos/logo2.png') }}" alt="Logo" style="margin-bottom:-20px;margin-left:75px;">
            </a>
            <!-- End Logo -->        
            <!-- Topbar -->
                {% include 'loginbar.html' %}
            <!-- End Topbar -->      
            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->                  
        </div><!--/end container-->

        <!--=== Beg NavBar ===-->
            {% include 'admin/navbar.html' %}
        <!--=== End NavBar ===-->
        
    </div>
    <!--=== End Header ===--> 

    <!--=== Profile ===-->
    <div class="profile container content">
    	<div class="row">
            <!--Left Sidebar-->
            {% if user.acct_type == 0 %}
                {% set active_link = 'expense' %}
        	{% include 'admin/leftmenu_c.html' %}
            {% elif user.acct_type == 2 %}
                {% set active_link = 'receipts' %}
        	{% include 'admin/leftmenu.html' %}
            {% endif %}
            <!--End Left Sidebar-->
            
            <div class="col-md-9">
                <!--Profile Body-->
                <div class="profile-body">
                    {% include 'expense_body.html' %}
                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->
    <div class="footer-v1">
        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2014 &copy; Unify. ALL Rights Reserved. 
                            <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="javascript:void(0)">Privacy Policy</a> | <a href="javascript:void(0)">Terms of Service</a>
                        </p>
                    </div>
                    <div class="col-md-6">  
                        <a href="index.html">
                            <img class="pull-right" id="logo-footer" src="{{ url_for('static', filename='img/logo2-default.png')}} " alt="">
                        </a>
                    </div>
                </div>
            </div> 
        </div><!--/copyright--> 
        <!--=== End Copyright ===-->
    </div>
</div><!--/wrapper-->

{% include 'admin/modal_login.html' %}

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js')}}"></script> 
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/back-to-top.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/smoothScroll.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js')}}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/datepicker.js')}}"></script>
<!-- Login -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/modal-login.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/modal-placeholders.min.js') }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
    });
</script>
        
<script type="text/javascript">

var eventDates = {};
{% for t in trans %}
    eventDates[ new Date( '{{t[2].month}}/{{t[2].day}}/{{t[2].year}}' )] = new Date( '{{t[2].month}}/{{t[2].day}}/{{t[2].year}}' ).toString();
{% endfor %}

$('#inline-start').datepicker({
    beforeShowDay: function(date) {
        var highlight = eventDates[date];
        if (highlight)
            {return [true, "OUTclass", highlight];}
        else {return [true, '', ''];}
        },
    onSelect: function(dateText, inst)
    { 
      var dateAsString = dateText; //the first parameter of this function
      var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method

      document.getElementById("datef").value = dateAsString.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");

      $.ajax({
          url: "/rectrans/",
          type: "get",
          data: {jsdata: dateText},
          success: function(response) {
            $("#changebody").html(response);}
          })
      $.ajax({
          url: "/bot_rec_update_date/",
          type: "get",
          data: {dateg: dateText},
          success: function(response) {
            $("#rec_items").html(response);}
          })
        document.getElementById("price").value="";
        document.getElementById("item_name").value="";
        document.getElementById("unit_weight").value="";
        document.getElementById("net_weight").value="";
        document.getElementById("unit").value="";
        document.getElementById("quantity").value="1";
        document.getElementById("receipt_id").value="";
    }
});

$(document).ready(function() {
    $("#add_item").click(function() {
         if ((document.getElementById("item_name").value != "") && (document.getElementById("price").value != ""))
            {

                $.ajax({
                  url: "/rec_update/",
                  type: "get",
                  data: {ref: document.getElementById("ref_id").value,
                         item: document.getElementById("item_name").value,
                         store: document.getElementById("store_name").value,
                         uw: document.getElementById("unit_weight").value,
                         net: document.getElementById("net_weight").value,
                         unit: document.getElementById("unit").value,
                         qty: document.getElementById("quantity").value,
                         price: document.getElementById("price").value,
                         dateg: document.getElementById("datef").value,
                         rid: document.getElementById("receipt_id").value
                         },
                  success: function(response) {
                    $("#rec_items").html(response);}
                  })
                document.getElementById("price").value="";
                document.getElementById("item_name").value="";
                document.getElementById("unit_weight").value="";
                document.getElementById("net_weight").value="";
                document.getElementById("unit").value="";
                document.getElementById("quantity").value="1";
                document.getElementById("receipt_id").value="";
            }
         else {alert('Please Fill in Fields');}
    });

    $("#del_item").click(function() {
         if ((document.getElementById("receipt_id").value != "") && (document.getElementById("ref_id").value != ""))
            {
                if (confirm("Confirm Delete?")){
                    $.ajax({
                      url: "/item_del/",
                      type: "get",
                      data: {ref: document.getElementById("ref_id").value,
                             rid: document.getElementById("receipt_id").value
                             },
                      success: function(response) {
                        $("#rec_items").html(response);}
                      })
                    document.getElementById("price").value="";
                    document.getElementById("item_name").value="";
                    document.getElementById("unit_weight").value="";
                    document.getElementById("net_weight").value="";
                    document.getElementById("unit").value="";
                    document.getElementById("quantity").value="1";
                    document.getElementById("receipt_id").value="";
                }
            }
         else {alert('No Item to Delete');}
    });

    $("#new_item").click(function() {
        document.getElementById("price").value="";
        document.getElementById("item_name").value="";
        document.getElementById("unit_weight").value="";
        document.getElementById("net_weight").value="";
        document.getElementById("unit").value="";
        document.getElementById("quantity").value="1";
        document.getElementById("receipt_id").value="";        
    });   
    
    $("#reset").click(function() {
        $.ajax({
          url: "/rectrans/",
          type: "get",
          success: function(response) {
            $("#changebody").html(response);}
          })
    });    
});

function bot_rec(date,ref,store){
    document.getElementById("datef").value=date;
    document.getElementById("ref_id").value=ref;
    document.getElementById("store_name").value=store;
    document.getElementById("item_name").value='';
    document.getElementById("price").value='';
    document.getElementById("net_weight").value='';
    document.getElementById("unit_weight").value='';
    document.getElementById("unit").value='';
    document.getElementById("receipt_id").value='';
    $.ajax({
        url: "/bot_rec_update/",
        type: "get",
        data: {ref: ref},
        success: function(response) {
            $("#rec_items").html(response);}
    })
    var new_date = date.replace(/(\d{4})-(\d\d)-(\d\d)/, "$2/$3/$1");
    $("#inline-start").datepicker("setDate", new_date);
}

function manual_store(){
    $.ajax({
        url: "/store_suggest/",
        type: "get",
        data: {store: '',
               dateg: document.getElementById("datef").value},
        success: function(response) {
            $("#suggest").html(response);}
    })
}

$("#store_name").keyup(function() {
    $.ajax({
        url: "/store_suggest/",
        type: "get",
        data: {store: document.getElementById("store_name").value,
               dateg: document.getElementById("datef").value},
        success: function(response) {
            $("#suggest").html(response);}
    })
});

function manual_item(){
    $.ajax({
        url: "/item_suggest/",
        type: "get",
        data: {store: document.getElementById("store_name").value,
               item: '',
               dateg: document.getElementById("datef").value},
        success: function(response) {
            $("#suggest").html(response);}
    })
}

$("#item_name").keyup(function() {
    $.ajax({
        url: "/item_suggest/",
        type: "get",
        data: {store: document.getElementById("store_name").value,
               item: document.getElementById("item_name").value,
               dateg: document.getElementById("datef").value},
        success: function(response) {
            $("#suggest").html(response);}
    })
});


function change_item(item, price){
    document.getElementById("item_name").value = item;
    document.getElementById("price").value = price;
}

function change_store(store){
    document.getElementById("store_name").value = store;
}

function edit_item(dateg, rid, ref_id, store_name, item_name, price, net_weight, unit_weight, unit, quantity){
    document.getElementById("datef").value = dateg;
    document.getElementById("receipt_id").value = rid;
    if (ref_id != 'None') {document.getElementById("ref_id").value = ref_id;}
        else if (ref_id == 'None') {document.getElementById("ref_id").value = '';}
    if (store_name != 'None') {document.getElementById("store_name").value = store_name;}
        else if (store_name == 'None') {document.getElementById("store_name").value = '';}
    if (item_name != 'None') {document.getElementById("item_name").value = item_name;}
        else if (item_name == 'None') {document.getElementById("item_name").value = '';}
    if (price != 'None') {document.getElementById("price").value = price;}
        else if (price == 'None') {document.getElementById("price").value = '';}
    if (net_weight != 'None') {document.getElementById("net_weight").value = net_weight;}
        else if (net_weight == 'None') {document.getElementById("net_weight").value = '';}
    if (unit_weight != 'None') {document.getElementById("unit_weight").value = unit_weight;}
        else if (unit_weight == 'None') {document.getElementById("unit_weight").value = '';}
    if (unit != 'None') {document.getElementById("unit").value = unit;}
        else if (unit == 'None') {document.getElementById("unit").value = '';}
    if (quantity != 'None') {document.getElementById("quantity").value = quantity;}
        else if (quantity == 'None') {document.getElementById("quantity").value = '';}
}

</script> 
 

<!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='plugins/respond.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/html5shiv.js')}}"></script>
<![endif]-->

</body>
</html>	
