    <!--=== Header v7 Left ===-->
    <div class="header-v7 header-left-v7">
        <nav class="navbar navbar-default mCustomScrollbar" role="navigation" data-mcs-theme="minimal-dark">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- End Toggle -->

                <!-- Logo -->
                <div class="logo" style="padding:0px;">
                    {% if menu_mgmt == 1 %}
                        <a href="/l1mgmt/">
                    {%else%}
                        <a href="/">
                    {%endif%}
                        <img id="logo-header" src="{{ url_for('static', filename='img/logos/logo2.png') }}" alt="Logo" style="width:inherit;">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li>
                            <a href="javascript:void(0);">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- About Pages -->                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Brands
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="page_about2.html">About Us </a></li>
                                <li><a href="page_about3.html">About Us 1</a></li>
                            </ul>
                        </li>
                        <!-- End About Pages -->

                        <!-- Blog -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Stores
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="blog_large_right_sidebar1.html">Right Sidebar</a></li>
                                <li><a href="blog_large_left_sidebar1.html">Left Sidebar</a></li>
                            </ul>
                        </li>
                        <!-- End Blog -->

                        <!-- Contacts -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>    
                    </li>                
                        <!-- End Contacts -->

                    </ul>

                    <ul class="list-inline header-socials">
                        <li><a href="'#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="'#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="'#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                    <p class="copyright-text">&copy; 2015 Unify. All Rights Reserved.</p>
                </div>  
            </div>
            <!-- End Navbar Collapse -->
        </nav>
    </div>    
    <!--=== End Header v7 Left ===-->
