{% if user.is_anonymous == True %}
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>Panels</a>
                        <ul class="languages hoverSelectorBlock">
                            <li class="active"><a href="/">Index <i class="fa fa-check"></i></a></li>
                            <li><a href="/customer/">Customer</a></li>
                            <li><a href="/ivendor/">Vendor</a></li>
                            <li><a href="/metrics/">Admin</a></li>
                            <li><a href="/l1mgmt/">MenuMgmt</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    {% if user.is_anonymous != True %}
                        <li><a id="logout_link" href="javascript:void(0)">logout-orig</a></li>
                    {% else %}
                        <li><a href="javascript:void(0)">Help</a></li>
                    {% endif %}
                    <li class="topbar-devider"></li>&nbsp;
                            {% if user.is_anonymous != True %}
                                 {{user.email}} ({{user.acct_type}})
                            {% else %}
                                <li><a class="js-signin-modal-trigger" href="#0" data-signin="login">SIGN IN</a></li>
                                <li class="topbar-devider"></li>&nbsp;
                                <li><a class="js-signin-modal-trigger" href="#0" data-signin="signup">SIGN UP</a></li>
                            {% endif %}
{% else %}
    <li class="hoverSelector">
        <i class="fa fa-globe"></i>
        <a>Panels</a>
        <ul class="languages hoverSelectorBlock">
            <li class="active"><a href="/">Index <i class="fa fa-check"></i></a></li>
            <li><a href="/customer/">Customer</a></li>
            <li><a href="/ivendor/">Vendor</a></li>
            <li><a href="/metrics/">Admin</a></li>
            <li><a href="/l1mgmt/">MenuMgmt</a></li>
        </ul>
    </li>
    <li class="topbar-devider"></li>
    <li><a id="logout_link" href="javascript:void(0)">logout-ahh!</a></li>  
    <li class="topbar-devider"></li>   
    <li> {{user.email}} ({{user.acct_type}}) </li> 
{% endif %}
