{% extends "base3a.html" %}
{% block content %}

    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="page_home6.html">
                <img src="../../static/img/logo1-default.png" alt="Logo">
            </a>
            <!-- End Logo -->        
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>Panels</a>
                        <ul class="languages hoverSelectorBlock">
                        	<li class="active">
                                <a href="/">Index</a>                            </li>
                            <li><a href="/customer/">Customer</a></li>
                            <li><a href="/ivendor/">Vendor</a></li>
                            <li><a href="/metrics/">Admin <i class="fa fa-check"></i></a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Help</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="page_login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->      
            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->                  
        </div><!--/end container-->

    <!--=== Beg NavBar ===-->
	{% include 'admin/navbar.html' %}
    <!--=== End NavBar ===-->
        
    </div>
    <!--=== End Header ===-->


    <!--=== Content ===-->
    <div class="profile container content">
    	<div class="row">
                {% set active_link = 'items' %}
        	{% include 'admin/leftmenu.html' %}
            <div class="col-md-9"><!--Right Body -->
                <!--Profile Body-->
                <div class="profile-body">
                
                    {% include 'admin/clicks_items.html' %}
                    
                    {% include 'admin/L2L4.html' %}
	<div class="row">
            <div class="col-md-12">
            <h3>7 Day Unique Visitors</h3>  
                <div id="line-example" style="height: 300px;"></div>
            </div>
            
            <div class="col-md-6">
            <h3>Visitors Browsers in %'s</h3> 
                <div id="donut-example" style="height: 250px;"></div>
            </div>
            
            <div class="col-md-12">
            <h3>Unique Clicks vs. Total Clicks </h3>     
                <div id="bar-example" style="height: 250px;"></div>
            </div>
            
            <br>
            <div class="col-md-12">
                <h3> Last7 (Blue) vs Current7 (Grey) Aggregation Chart.. BAH!!</h3>
                <div id="area-example" style="height: 300px;"></div>
            </div>            
      </div>
                    
                </div><!--End Profile Body-->
            </div><!--End Right Body -->
	</div>
    </div>                 
    <!--=== Container Part ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        

    <!--=== Copyright ===-->
    <div class="copyright" style="height:40px;padding:0;margin:0;background:#3e4753">
        <div class="container" style="height:40px;padding:10;margin:0;">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2016 &copy; ChengBen. ALL Rights Reserved. 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">  
                </div>
            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
    </div>     
    <!--=== End Footer Version 1 ===-->
{% endblock %}
