{% extends "base3a.html" %}
{% block content %}

    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="{{ url_for('static', filename='img/logos/logo2.png') }}" alt="Logo" style="margin-bottom:-20px;margin-left:75px;">
            </a>
            <!-- End Logo -->        
            <!-- Topbar -->
                {% include 'loginbar.html' %}
            <!-- End Topbar -->      
            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->                  
        </div><!--/end container-->

        <!--=== Beg NavBar ===-->
            {% include 'admin/navbar.html' %}
        <!--=== End NavBar ===-->
        
    </div>
    <!--=== End Header ===-->


    <!--=== Content ===-->
    <div class="profile container content">
    	<div class="row">
                {% set active_link = 'metrics' %}
        	{% include 'admin/leftmenu.html' %}
            <div class="col-md-9"><!--Right Body -->
                <!--Profile Body-->
                <div class="profile-body">
                
                    {% include 'admin/clicks.html' %}
                    
                    {% include 'admin/L2L4.html' %}
                </div><!--End Profile Body-->
            </div><!--End Right Body -->
	</div>
    </div>                 
    <!--=== Container Part ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        

    <!--=== Copyright ===-->
    <div class="copyright" style="height:40px;padding:0;margin:0;background:#3e4753">
        <div class="container" style="height:40px;padding:10;margin:0;">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2016 &copy; ChengBen. ALL Rights Reserved. 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">  
                </div>
            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
    </div>     
    <!--=== End Footer Version 1 ===-->
{% endblock %}
