{% extends "base3.html" %}
{% block content %}

    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" style="height:75px;">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>Panels</a>
                        <ul class="languages hoverSelectorBlock">
                        	<li class="active">
                                <a href="unify_CB.html">Index <i class="fa fa-check"></i></a>                            </li>
                            <li><a href="index_customer.php">Customer</a></li>
                            <li><a href="index_vendor.php">Vendor</a></li>
                            <li><a href="index_admin.php">Admin</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Help</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="page_login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->
        </div><!--/end container-->

        
    </div>
    <!--=== End Header ===-->

    <!--=== Search Block ===-->
    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1><span style="font-family:'Microsoft JhengHei'">CHENGBEN.COM.TW </span><span style="font-family:'Microsoft JhengHei'">來省成本</span></h1>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search words with regular expressions ...">
                    <span class="input-group-btn">
                        <button class="btn-u btn-u-lg" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>

                <form action="" class="sky-form page-search-form">
                    <div class="inline-group">                    
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>Recent</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Related</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Popular</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Most Common</label>
                    </div>
                </form>    
            </div>
        </div>    
    </div><!--/container-->  
    <!--=== End Search Block ===-->

    <!--=== Content ===-->
    <div class="container content" style="height:800px;">
<!--=== Pricewatch Code ===-->
<div style="padding:10px;">    
<div style="width:100%;height:40px;padding:0px;margin-top:-50px;border-bottom:5px solid orange">
	<h1 style="font-size:25px;font-weight:normal;font-family:open sans, arial;">Restaurant Supply & Foodstuffs</h1>
</div>
<div id="computers-and-parts">

        <div>	
          <h2>Veges 蔬菜類</h2>	
        <ul>	
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruits Veggies</a></li>
            <li><a href="#">Fruits</a></li>
            <li><a href="#">Fresh Herbs</a></li>
            <li><a href="#">Eggs</a></li>
            <li><a href="#">Spice (i.e. Garlic?)</a></li>
            <li><a href="#">Cereal Grains</a></li>
            <li><a href="#">Nuts</a></li>
            <li><a href="#">Seeds</a></li>
        </ul><br />	
        <h2>Meats 肉類</h2>	
        <ul>	
            <li><a href="#">Beef</a></li>
            <li><a href="#">Pork</a></li>
            <li><a href="#">Chicken</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Seafood</a></li>
            <li><a href="#">Duck/ Goose</a></li>
        </ul><br />	
        <h2>Frozen 冷凍</h2>	
        <ul>	
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruits</a></li>
            <li><a href="#">MeatBalls</a></li>
        </ul><br />	
        </div>	
        
        <div>	
        <h2>Frozen Dry Goods 炸貨</h2>	
        <ul>	<li><a href="#">Powdered Spices</a></li>
            <li><a href="#">Dried Herbs</a></li>
            <li><a href="#">Beans</a></li>
            <li><a href="#">Sauce</a></li>
            <li><a href="#">Oil</a></li>
            <li><a href="#">Vinegar</a></li>
            <li><a href="#">Tea</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Pastas</a></li>
            <li><a href="#">Coffee Bean</a></li>
            <li><a href="#">Nuts</a></li>
            <li><a href="#">Canned Fruits, Fish, Etc.</a></li>
            <li><a href="#">Dried Fruits (Raisins, Cranberries)</a></li>
            <li><a href="#">Rice</a></li>
            <li><a href="#">Noodles</a></li>
            <li><a href="#">Seeds</a></li>
            <li><a href="#">Grains (oats etc)</a></li>
            <li><a href="#">Chips</a></li>
            <li><a href="#">Cookies</a></li>
        </ul><br />	
            
        <h2>Sauce 醬料</h2>	
        <ul>	<li><a href="#">Vinegar</a></li>
            <li><a href="#">Soy Sauce</a></li>
            <li><a href="#">Flavored Oils</a></li>
            <li><a href="#">Chili Sauces</a></li>
            <li><a href="#">Salad Dressings</a></li>
            <li><a href="#">Mayonnaise</a></li>
        </ul><br />	
        </div>	
            
        <div>	
        <h2>Refrigerated 冷場</h2>	
        <ul>	<li><a href="#">Dairy - Cheese</a></li>
            <li><a href="#">Ham & Turkey</a></li>
            <li><a href="#">Tofu</a></li>
            <li><a href="#">Fermented: KimChi, etc.</a></li>
            <li><a href="#">Packaged (edemame etc)</a></li>
            <li><a href="#">Pre-Prepared</a></li>
            <li><a href="#">Meat Substitute</a></li>
            <li><a href="#">Salsa</a></li>
        </ul><br />	
        <h2>Beverage/ Liquid</h2>	
        <ul>	<li><a href="#">Soda (i.e. Coke, etc)</a></li>
            <li><a href="#">Beer</a></li>
            <li><a href="#">Cooking Wine</a></li>
            <li><a href="#">Ice Delivery (by district)</a></li>
            <li><a href="#">Coffee Dispenser Rental</a></li>
        </ul><br />	
        <h2>Spirits 酒類</h2>	
        <ul>	<li><a href="#">XiaoXing</a></li>
            <li><a href="#">Cooking Wine</a></li>
            <li><a href="#">Red Wine</a></li>
            <li><a href="#">White Wine</a></li>
            <li><a href="#">Beer</a></li>
            <li><a href="#">Liquor</a></li>
        </ul><br />	
        </div>	
            
        <div>	
        <h2>Bread 麵包</h2>	
        <ul>	<li><a href="#">ManTou</a></li>
            <li><a href="#">Tortilla</a></li>
            <li><a href="#">Sandwich Bread</a></li>
            <li><a href="#">Bakery</a></li>
            <li><a href="#">Sweet Bun(s)</a></li>
            <li><a href="#">Cake</a></li>
        </ul><br />	
        <h2>Cutlery 餐具</h2>	
        <ul>	<li><a href="#">Utensils</a></li>
            <li><a href="#">Napkins</a></li>
            <li><a href="#">Straws</a></li>
            <li><a href="#">Cups</a></li>
            <li><a href="#">Kitchen Baskets etc.</a></li>
            <li><a href="#">Knives</a></li>
        </ul><br />	
        <h2>Packaging 包裝</h2>	
        <ul>
        	<li><a href="#">Plastic/ Paper Bags</a></li>
            <li><a href="#">Plastic Meal Box</a></li>
            <li><a href="#">Paper Meal Box</a></li>
            <li><a href="#">Napkins</a></li>
            <li><a href="#">Delivery Bags</a></li>
            <li><a href="#">Cooler Packs</a></li>
            <li><a href="#">Paper Packing Boxes</a></li>
            <li><a href="#">Vegetable Crates</a></li>
        </ul><br />	

        </div>	
            
        <div>	
        <h2>Marketing</h2>	
        <ul>	<li><a href="#">Printing Services</a></li>
            <li><a href="#">Flyering Services</a></li>
            <li><a href="#">Adwords</a></li>
            <li><a href="#">Website Design/ Ecommerce</a></li>
            <li><a href="#">Interior Design</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Listing Services (iPeen)</a></li>
            <li><a href="#">Bloggers</a></li>
            <li><a href="#">News/ Article Writers</a></li>
            <li><a href="#">Social Media Services</a></li>
        </ul><br />	
        <h2>Office Supply</h2>	
        <ul>	<li><a href="#">Printer Rental</a></li>
            <li><a href="#">POS, iChef, etc.</a></li>
            <li><a href="#">paper/ stationary</a></li>
        </ul><br />	
        <h2>Delivery 外送類</h2>	
        <ul>	<li><a href="#">Leather Delivery Saddle Bags</a></li>
            <li><a href="#">Restaurant Delivery</a></li>
        </ul><br />	  
        

          
        </div>
        <div>
        <h2>Accounting 快計</h2>	
        <ul>	<li><a href="#">POS Services (iChef)</a></li>
            <li><a href="#">Credit Card Processors</a></li>
            <li><a href="#">Online Credit Card</a></li>
            <li><a href="#">Accountants(?)</a></li>
            <li><a href="#">F&B Lawyers</a></li>
            <li><a href="#">Business Registration</a></li>
        </ul><br />        
        <h2>Water/ Electric 水電</h2>	
        <ul>	<li><a href="#">Electricians/ Plumbers by district</a></li>
            <li><a href="#">need a ratings system for this</a></li>
            <li><a href="#">Fans</a></li>
            <li><a href="#">Timecard Machine(s)</a></li>
            <li><a href="#">Timecards</a></li>
            <li><a href="#">Gas Cannisters</a></li>
        </ul><br />
        <h2>Sanitation</h2>	
        <ul>	<li><a href="#">Roach Killing</a></li>
            <li><a href="#">Fragrance</a></li>
            <li><a href="#">Garbage PickUp Services</a></li>
            <li><a href="#">Facility Cleaning Services</a></li>
            <li><a href="#">Laundry Service</a></li>
        </ul><br />        
        </div>        

</div> <!-- end computers-and-parts-->
    
</div>    <!--=== End Pricewatch Code ===-->
    </div>                 
    <!--=== Container Part ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        

    <!--=== Copyright ===-->
    <div class="copyright" style="height:40px;padding:0;margin:0;background:#3e4753">
        <div class="container" style="height:40px;padding:10;margin:0;">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2016 &copy; ChengBen. ALL Rights Reserved. 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">  
                </div>
            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
    </div>     
    <!--=== End Footer Version 1 ===-->
{% endblock %}